@font-face {
  font-family: "Assassin";
  src: 
    url("fonts/Assassin.woff2") format("woff2"),
    url("fonts/Assassin.woff") format("woff");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
}

.bg {
  height: 100vh;
  width: 400px;
}

.left {
  position: relative;
}

.logo-bg {
  position: absolute;
  height: 100px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 250px;
}

.logo {
  height: 80px;
  width: 100px;
}

.logo-text {
  font-family: "Assassin", sans-serif;
  font-size: 80px;
  color: white;
}

.logo-and-text {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  left:10px;
  top: 10px;
}